a {
    text-decoration: none;
}

.hover-active ul {
    display: none;
}

.hover-active a:hover ul {
    display: block;
}

.container-1 {
    width: 1280px;
}
.position-problem-fixed {
    top: 40px;
    left: -13rem
}
